<h1>Hero Form</h1>
<form (ngSubmit)="onSubmit()" #taskForm="ngForm">
    <md-input class="demo-full-width" placeholder="title" name="title"
              [dividerColor]="(title.invalid&&title.dirty)?'accent':''" [(ngModel)]="task.title"
              required #title="ngModel">
        <md-hint align="end" *ngIf="title.invalid&&title.dirty">
            {{'VALID.REQUIRED'|translate}}
        </md-hint>
    </md-input>
    <md-slider class="demo-full-width" tick-interval="auto" step="5" name="percent"
               [(ngModel)]="task.precent"></md-slider>
    <md-input class="demo-full-width" placeholder="content" name="content" [(ngModel)]="task.content"></md-input>
    <button type="submit" color="primary" md-raised-button [disabled]="!taskForm.form.valid" [@heroState]="">Submit
    </button>
</form>