<form (ngSubmit)="onSubmit()" #taskForm="ngForm">
    <p>
        <mdl-textfield [(ngModel)]="task.title" required label="title" name="title" floating-label>
        </mdl-textfield>
    </p>
    <div style="display: flex">
        <div style="display: inline-block">test</div>
        <div style="width: 500px;">
            <mdl-slider min="1" max="100" step="5" [(ngModel)]="task.precent" name="percent">
            </mdl-slider>
        </div>
        <div style="display: inline-block">{{task.precent}}%</div>
    </div>
    <p>
        <mdl-textfield [(ngModel)]="task.content" label="content" name="content" rows="3" maxrows="3" floating-label>
        </mdl-textfield>
    </p>
    <button type="submit" mdl-button mdl-button-type="raised" mdl-ripple mdl-colored="primary" [disabled]="!taskForm.form.valid">
        Submit
    </button>
</form>
