<mdl-chip mdl-label="Basic Chip"></mdl-chip>
<mdl-chip mdl-action-icon="cancel" (action-click)="deleteChip()" mdl-label="Deletable Chip"></mdl-chip>
<mdl-chip mdl-label="Contact Chip">
    <span mdl-chip-contact class="mdl-color--blue mdl-color-text--white">A</span>
</mdl-chip>
<br>

<mdl-card mdl-shadow="2">
    <mdl-card-title>
        <h2 mdl-card-title-text>Welcome</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Mauris sagittis pellentesque lacus eleifend lacinia...
    </mdl-card-supporting-text>
    <mdl-card-actions mdl-card-border>
        <button mdl-button mdl-colored mdl-ripple>Get Started</button>
    </mdl-card-actions>
    <mdl-card-menu>
        <button #btn1="mdlButton"
                mdl-button
                mdl-button-type="icon"
                mdl-ripple
                (click)="m1.toggle($event, btn1)">
            <mdl-icon>share</mdl-icon>
        </button>
        <mdl-menu #m1="mdlMenu"
                  mdl-menu-position="bottom-right">
            <mdl-menu-item mdl-ripple (click)="action()">Some Action</mdl-menu-item>
            <mdl-menu-item mdl-ripple mdl-menu-item-full-bleed-divider>Another Action</mdl-menu-item>
            <mdl-menu-item mdl-ripple disabled>Disabled Action</mdl-menu-item>
            <mdl-menu-item>Yet Another Action</mdl-menu-item>
        </mdl-menu>
    </mdl-card-menu>
</mdl-card>

<h6>Simple Table</h6>
<mdl-table [table-model]="tableModel">
</mdl-table>

<h6>Selectable Table</h6>
<mdl-table-selectable [table-model]="tableModel"
                      [table-model-selected]="selected"
                      (table-model-selectionChanged)="selectionChanged($event)"
                      style="width: 100%">
</mdl-table-selectable>
<p>
    {{selected | json}}
</p>

<mdl-spinner [active]="true"></mdl-spinner>

<mdl-switch [(ngModel)]="disableTargaryens" mdl-ripple>Disable Targaryens</mdl-switch>
<mdl-switch [(ngModel)]="disableBaratheon" mdl-ripple>Disable Baratheon</mdl-switch>
<mdl-tabs mdl-ripple mdl-tab-active-index="0" (mdl-tab-active-changed)="tabChanged($event)">
    <mdl-tab-panel>
        <mdl-tab-panel-title>
            <mdl-icon class="mdl-color-text--primary">person</mdl-icon>
            <span>Starks</span>
        </mdl-tab-panel-title>
        <mdl-tab-panel-content>
            <ul>
                <li>Eddard</li>
                <li>Catelyn</li>
                <li>Robb</li>
                <li>Sansa</li>
                <li>Brandon</li>
                <li>Arya</li>
                <li>Rickon</li>
            </ul>
        </mdl-tab-panel-content>
    </mdl-tab-panel>
    <mdl-tab-panel mdl-tab-panel-title="Lannisters">
        <ul>
            <li>Tywin</li>
            <li>Cersei</li>
            <li>Jamie</li>
            <li>Tyrion</li>
        </ul>
    </mdl-tab-panel>
    <mdl-tab-panel mdl-tab-panel-title="Targaryens" [disabled]="disableTargaryens">
        <ul>
            <li>Viserys</li>
            <li>Daenerys</li>
        </ul>
    </mdl-tab-panel>
    <mdl-tab-panel mdl-tab-panel-title="Baratheon" [disabled]="disableBaratheon">
        <mdl-tab-panel-title>
            <mdl-icon class="mdl-color-text--primary">person</mdl-icon>
            <span>Baratheon</span>
        </mdl-tab-panel-title>
        <ul>
            <li>Robert</li>
            <li>Renly</li>
            <li>Stanis</li>
            <li>Joffrey</li>
            <li>Myrcella</li>
            <li>Tommen</li>
        </ul>
    </mdl-tab-panel>
</mdl-tabs>