<mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed #mdlLayout="mdlLayout">
    <mdl-layout-header>
        <mdl-layout-header-row>
            <mdl-layout-title>Japp Material UI</mdl-layout-title>
            <mdl-layout-spacer></mdl-layout-spacer>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" [routerLink]="it.routerLink" routerLinkActive="is-active" *ngFor="let it of navs">
                    {{it.title|translate}}
                </a>
            </nav>
        </mdl-layout-header-row>
    </mdl-layout-header>

    <mdl-layout-drawer>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" [routerLink]="it.routerLink" routerLinkActive="is-active" *ngFor="let it of navs" (click)="mdlLayout.toggleDrawer()">
                {{it.title|translate}}
            </a>
        </nav>
    </mdl-layout-drawer>

    <mdl-layout-content class="main">
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>

        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">Simple portfolio website</div>
            </div>
            <div class="mdl-mini-footer__right-section">
                <ul class="mdl-mini-footer__link-list">
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Privacy & Terms</a></li>
                </ul>
            </div>
        </footer>
    </mdl-layout-content>
</mdl-layout>